footer{
	margin-top:15px;
	padding: 15px;
	color:#fff;
	background:#333;
}
.profile-image {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
    width:42px;
    height:42px;
}
.size{
    height:150px;
    width:150px;
}
.detailedSize{
    height:350px;
    width:350px;
}
.quantity{
    size:4;
}